{% extends "base.html" %}
{% block main %}
  <section class="jumbotron text-center mb-0">
    <div class="container">
      <div class="media">
        <div class="media-body">
          <h1 class="jumbotron-heading">The App Store for CLI Apps</h1>
          <p class="lead text-muted">
            Often a simple CLI tool is all you need. <br/>
            Browse our collection of world class CLI apps <br/>
            and get the best one for the job!
          </p>
        </div>
        <img
          src="/images/terminal_screenshot.png"
          width="370px"
          height="190px"
          class="mr-3"
          alt="Screenshot of a terminal app"
        >
      </div>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">

        {% for app in apps %}
          {% set slug = app.slug | urlencode %}
          {% set appUrl = '/apps/' ~ slug %}

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <a href="{{appUrl}}">
                <img
                  class="card-img-top img-fluid"
                  src="/apps/{{slug}}/main.png"
                  alt="Screenshot of CLI app {{app.name}}"
                />
              </a>
              <div class="card-body">
                <small class="float-right text-muted">{{app.price}}</small>
                <h5 class="card-title">
                  <a href="{{appUrl}}" class="text-dark">{{app.name}}</a>
                </h5>
                <p class="card-text">{{app.description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
