{% extends "base.html" %}
{% block main %}
  <section class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-md-6">
          <h1 class="jumbotron-heading">The App Store for CLI Apps</h1>
          <p class="lead text-muted">
            Often a simple CLI tool is all you need. <br/>
            Browse our collection of world class CLI apps <br/>
            and get the best one for the job!
          </p>
        </div>
        <div class="col-md-4">
          <img
            src="/images/terminal_screenshot.png"
            class="img-fluid"
            alt="Screenshot of a terminal app"
          >
        </div>
      </div>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">

        {% for app in apps %}
          {% if app.state != "draft" %}
            {% set slug = app.slug | urlencode %}
            {% set appUrl = '/apps/' ~ slug %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="{{appUrl}}">
                  <img
                    class="card-img-top img-fluid"
                    src="/apps/{{slug}}/main.png"
                    alt="Screenshot of CLI app {{app.name}}"
                  />
                </a>
                <div class="card-body">
                  <small class="float-right text-muted">
                    {{app.price}} €
                  </small>
                  <h5 class="card-title">
                    <a href="{{appUrl}}" class="text-dark">{{app.name}}</a>
                  </h5>
                  <p class="card-text">{{app.description}}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
