{% extends "base.html" %}
{% block main %}
  <div class="container mt-4">

    <div class="jumbotron py-4">
      <div class="row">
        <div class="col-sm-5 text-center">
          <img
            class="img-fluid mb-3"
            src="/apps/{{app.slug}}/main.png"
            alt="Screenshot of CLI app {{app.name}}"
          >

          <a
            href="/apps/{{app.slug}}"
            class="btn btn-primary btn-sm"
          >
            Go Back to App Page
          </a>
        </div>

        <div class="col-sm">
          <h1>{{app.name}} Installation</h1>

          <p class="text-secondary">{{app.description}}</p>

          <p>By <a href="{{app.developer.website}}">{{app.developer.name}}</a>
          </p>

          <p>Extended installation instructions are available
            <a href="{{app.installation_url}}">here</a>.
          </p>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard (inputId) {
        document
          .getElementById(inputId)
          .select()
        document.execCommand('copy')
      }
    </script>

    <div class="row justify-content-md-center">
      <div class="col-10">
        <ul class="list-unstyled">
          {% for installation in app.installations %}
            <li class="media mb-3">
              <img
                class="img-fluid mr-3"
                width="64px"
                height="64px"
                src="/images/{{installation.tool}}.svg"
                alt="Icon of {{installation.tool}}"
              >
              <div class="media-body">
                <h5 class="mt-0">{{installation.tool}}</h5>
                <div class="input-group input-group-sm mb-3">
                  <input
                    id="command-{{loop.index}}"
                    type="text"
                    class="form-control"
                    value="{{installation.command}}"
                    readonly
                    style="font-family: SFMono-Regular, Menlo, Monaco, Consolas,
                      'Liberation Mono', 'Courier New', monospace"
                  >
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary btn-sm"
                      type="button"
                      onclick="copyToClipboard('command-{{loop.index}}')"
                    >
                      Copy
                    </button>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}
